<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="https://fiapps.s3.ca-central-1.amazonaws.com/assets/facebook-icon.png" width="20px" height="20px" class="mr-2">Facebook
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="col-lg-12 text-center">
        <h3>Would you like to share an introduction link in Facebook?</h3>
        <button (click)="socialShare('facebook')" class="mt-4 btn btn-primary">Share</button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="https://fiapps.s3.ca-central-1.amazonaws.com/assets/twitter-icon.png" width="20px" height="20px" class="mr-2">Twitter
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="col-lg-12 text-center">
        <h3>Would you like to share an introduction link in Twitter?</h3>
        <button (click)="socialShare('twitter')" class="mt-4 btn btn-primary">Share</button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="https://fiapps.s3.ca-central-1.amazonaws.com/assets/whatsapp-icon.png" width="20px" height="20px" class="mr-2">Whatsapp
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="col-lg-12 text-center">
        <h3>Would you like to share an introduction link in Whatsapp?</h3>
        <button (click)="socialShare('whatsapp')" class="mt-4 btn btn-primary">Share</button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="https://fiapps.s3.ca-central-1.amazonaws.com/assets/copy-icon.png" width="20px" height="20px" class="mr-2">Copy Link
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="col-lg-12 text-center">
        <h3>Would you like to copy the link and share it in different social medium?</h3>
        <button (click)="socialShare('copyText')" class="mt-4 btn btn-primary">Copy to clipboard</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>