<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="https://fiapps.s3.ca-central-1.amazonaws.com/assets/email-icon.png" width="20px" height="20px" class="mr-2">Email
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="text-center">
        <mat-radio-group aria-label="Select an option" [(ngModel)]="emailSelectOption" name="emailSelectOption" ngDefaultControl>
          <mat-radio-button value="email" class="mr-3">Select Your Contact Source</mat-radio-button>
          <mat-radio-button value="manual">Add a Contact</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="emailSelectOption === 'email'" class="col-lg-12 row m-0">
          <div class="col-lg-6 cursor-pointer view overlay zoom" (click)="cloudSpongeTrigger('gmail')">
            <img src="https://fiapps.s3.ca-central-1.amazonaws.com/assets/gmail.png" class="horizontally-center-align p-1" width="70px"
              height="70px">
            <p class="mt-2">Gmail</p>
          </div>
          <div class="col-lg-6 cursor-pointer view overlay zoom" (click)="cloudSpongeTrigger('yahoo')">
            <img src="https://fiapps.s3.ca-central-1.amazonaws.com/assets/yahoo.png" width="70px" height="70px"
              class="horizontally-center-align p-1">
            <p class="mt-2">Yahoo</p>
          </div>
          <div class="col-lg-6 cursor-pointer view overlay zoom" (click)="cloudSpongeTrigger('windowslive')">
            <img src="https://fiapps.s3.ca-central-1.amazonaws.com/assets/outlook.png" width="70px" height="70px"
              class="horizontally-center-align p-1">
            <p class="mt-2">Outlook</p>
          </div>
          <div class="col-lg-6 cursor-pointer view overlay zoom" (click)="cloudSpongeTrigger('aol')">
            <img src="https://fiapps.s3.ca-central-1.amazonaws.com/assets/aol.png" width="70px" height="70px"
              class="horizontally-center-align p-1">
            <p class="mt-2">AOL</p>
          </div>
        </div>
        <div *ngIf="emailSelectOption === 'manual' || showContactList">
          <div class="row mt-3 h-100 manual-contact-block">
            <div class="col-lg-12 my-auto">
              <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="firstName">
            </div>
            <div class="col-lg-12 my-auto">
              <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="lastName">
            </div>
            <div class="col-lg-12 my-auto">
              <input type="email" class="form-control" placeholder="Email" [(ngModel)]="referralEmail">
            </div>
            <div class="col-lg-12 text-left">
              <button type="submit" (click)="addManualContact()" class="btn btn-primary w-100 send-button-width">Add</button>
            </div>
          </div>
          <div class="col-lg-12 text-center mt-4" *ngIf="emailAlreadyAdded">
            <p class="text-danger">Email was already added to the list.</p>
          </div>
          <div class="col-lg-12 text-center mt-4" *ngIf="emptyUserEmailFeild">
            <p class="text-danger">Please enter Your name and Email.</p>
          </div>
        </div>
        <div *ngIf="invitationContactList && invitationContactList.length > 0"
          class="row mt-3 text-center contact-card-container">
          <div *ngFor="let contactDetails of invitationContactList; index as i;"
            class="col-lg-12 m-2 text-center contact-card">
            <i class="fa fa-trash text-danger cursor-pointer float-right mt-3" (click)="removeContact(i)"></i>
            <div class="contact-card-entry">
              <div class="d-block"><h5 [innerHTML]="contactDetails.first_name" class="d-inline-block"></h5>&nbsp;<h5 [innerHTML]="contactDetails.last_name" class="d-inline-block"></h5></div>
              <p><b [innerHTML]="contactDetails.email"></b></p>
            </div>
          </div>
          <div class="col-lg-12 mt-3">
            Points Earned for adding Email contacts : <span
              class="point-number-aloignment" [innerHTML]="invitationContactList.length * emailPointValue"></span>
          </div>
          <div class="col-lg-12 text-center mt-3">
            <button type="submit" (click)="socialShare('email')" class="btn btn-success send-button-width">Send</button>
          </div>
        </div>
      </div>
      <p class="promotion-text-background" *ngIf="isVideoRecorded">Oh seems like you are not recording video. You will recieve
        points when you record the video. To do so please click on back button at below.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="https://fiapps.s3.ca-central-1.amazonaws.com/assets/facebook-icon.png" width="20px" height="20px" class="mr-2">Facebook
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="col-lg-12 text-center">
        <h3>Would you like to share an introduction link in Facebook?</h3>
        <button (click)="socialShare('facebook')" class="mt-4 btn btn-primary">Share</button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="https://fiapps.s3.ca-central-1.amazonaws.com/assets/twitter-icon.png" width="20px" height="20px" class="mr-2">Twitter
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="col-lg-12 text-center">
        <h3>Would you like to share an introduction link in Twitter?</h3>
        <button (click)="socialShare('twitter')" class="mt-4 btn btn-primary">Share</button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="https://fiapps.s3.ca-central-1.amazonaws.com/assets/whatsapp-icon.png" width="20px" height="20px" class="mr-2">Whatsapp
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="col-lg-12 text-center">
        <h3>Would you like to share an introduction link in Whatsapp?</h3>
        <button (click)="socialShare('whatsapp')" class="mt-4 btn btn-primary">Share</button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img src="https://fiapps.s3.ca-central-1.amazonaws.com/assets/copy-icon.png" width="20px" height="20px" class="mr-2">Copy Link
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="col-lg-12 text-center">
        <h3>Would you like to copy the link and share it in different social medium?</h3>
        <button (click)="socialShare('copyText')" class="mt-4 btn btn-primary">Copy to clipboard</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>