<div class="wrapper {{theme}}" [ngClass]="{'fullscreen': fullScreen}">
  <div class="chat-box" *ngIf="visible" [@fadeInOut]="visible"
    [ngStyle]="{'background-image': 'url(' + appearance.fullscreenbgimage + ')'}">
    <div class="chat-box-header">
      <div class="">
        <div class="operator-status">
          <span *ngIf="operator.status === 'online'">
            {{operator.status}}
            <span class="operator-status-online">●</span>

          </span>
          <a (click)="historyChat()" *ngIf="existUserSession"><img
              src="https://fiapps.s3.ca-central-1.amazonaws.com/assets/history-icon.png" class="history-icon ml-1"
              width="20px" height="20px" /></a>
          <button class="chat-button-header" (click)="toggleChat()">✕</button>

        </div>
        <div class="operator-name-avatar">
          <chat-avatar [image]="operator.avatar"></chat-avatar>
          <p class="operator-name">
            {{operator.name}}
          </p>
        </div>

      </div>
    </div>
    <div *ngIf="session">
      <app-publisher [session]="session"></app-publisher>
      <app-subscriber *ngFor="let stream of streams" [stream]="stream" [session]="session"></app-subscriber>
    </div>
    <div *ngIf="fullScreen" class="m-4 position-absolute d-none d-sm-block"
      [ngStyle]="{'color': appearance.fullscreencolor}">
      <h2 [innerHTML]="appearance.fullscreenheading"></h2>
      <h6 [innerHTML]="appearance.fullscreensubheading"></h6>
    </div>
    <div class="chat-box-main" *ngIf="!this.historyMode">
      <div class="chat-message-bottom" #bottom></div>
      <ng-container *ngFor="let message of messages; index as i">
        <div class="chat-message" [class.chat-message-received]="message.type === 'received'" [@fadeIn]
          [class.chat-message-sent]="message.type === 'sent'"
          [class.appoinment-container]="message.element.type === 'appointment-widget' || message.element.type === 'video' || message.element.type === 'video-record' || message.element.type === 'social-sharing' || message.element.type === 'email-sharing' || message.element.type === 'text-editor'">
          <div>
            <chat-avatar [image]="message.from.avatar" class="chat-message-from-avatar"
              *ngIf="message.element.type !== 'appointment-widget' && message.element.type !== 'video' && message.element.type !== 'video-record' && message.element.type !== 'social-sharing' && message.element.type !== 'email-sharing' && message.element.type !== 'text-editor'">
            </chat-avatar>
            <div class="chat-message-text"
              [class.chat-message-text-no-corner]="message.element.type === 'appointment-widget' || message.element.type === 'video' || message.element.type === 'video-record' || message.element.type === 'social-sharing' || message.element.type === 'email-sharing' || message.element.type === 'text-editor'">
              {{this.removeHTML(message.element.clabel)}}
            </div>
            <div *ngIf="message.element.type === 'multichoice' && !message.hide" class="multi-choice-container">
              <ng-container *ngFor="let choice of message.element.choice">
                <div class="option-entry" (click)="multiChoiceSelect(choice, i)">
                  {{choice.option}}
                </div>

              </ng-container>
            </div>


            <div *ngIf="message.element.type === 'appointment-widget'" class="appoinment-container">
              <app-cronofy [instanceId]="instanceId" [email]="email" [botId]="botId" [name]="name" [leadId]="leadId">
              </app-cronofy>
            </div>
            <div *ngIf="message.element.type === 'video'" class="appoinment-container">
              <div class="video-alignments">
                <iframe [src]="getSafeUrl(message.element.video)" frameborder="0" allowfullscreen width="100%"></iframe>
              </div>

            </div>
            <div class="social-sharing-accordion" *ngIf="message.element.type === 'social-sharing'">
              <app-social-sharing [endorserData]="endorserData" botId="botId" instanceId="instanceId"
                [endorserId]="endorserId" [introSessionID]="introSessionID"></app-social-sharing>

            </div>
            <div class="social-sharing-accordion" *ngIf="message.element.type === 'email-sharing'">
              <app-email-sharing [endorserData]="endorserData" botId="botId" instanceId="instanceId"
                [endorserId]="endorserId" [introSessionID]="introSessionID"></app-email-sharing>

            </div>
          </div>
          <div *ngIf="message.element.type === 'video-record'">
            <app-video-recorder (saved)="videoSaved($event)"></app-video-recorder>
          </div>
          <div *ngIf="message.element.type === 'text-editor'" class="mt-1">
            <div class="chat-message-text chat-message-text-no-corner mt-1 mb-1" *ngIf="!editMode">
              <span>{{this.removeHTML(message.element.data.default_message)}}</span>
            </div>
            <div *ngIf="editMode" class="editor-margin">
              <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="message.element.data.default_message" [config]="editorconfig"></angular-editor>
            </div>
            <div class="mt-1 button-confirmation-left" *ngIf="!editMode">
              <button class="btn btn-primary mr-1 mb-1" (click)="nextClicked(i)">Yes, Please</button>
              <button class="btn btn-success mb-1" (click)="editText()">No, I need to edit</button>
            </div>
            <div class="mt-1 button-confirmation-left" *ngIf="editMode">
              <button class="btn btn-primary mr-1 mb-1" (click)="saveAndNextClicked()">Save and proceed Next</button>
            </div>
          </div>

          <div class="chat-message-date">
            {{message.date | date: 'short'}}
          </div>
          <div class="text-center">
            <button *ngIf="message && message.element && message.element.data && message.element.data.pause === '1'" class="btn btn-success pt-0 pl-3 pr-3 pb-1"
              (click)="nextCLicked(i)">Next</button>
          </div>
        </div>

      </ng-container>
    </div>
    <div *ngIf="this.historyMode">
      <p class="previous-chat-text">Previous Chats</p>
      <div *ngFor="let message of sessionHistoryChatList">
        <div class="history-message" (click)="selectMessage(message)">
          <span>{{this.removeHTML(message.message[0].element.clabel)}}</span>
          <div class="chat-message-date">
            {{message.message[0].date | date: 'short'}}
          </div>
        </div>
      </div>
    </div>
    <div class="chat-box-footer" *ngIf="!this.historyMode">
      <chat-input (send)="sendMessage($event)" (dismiss)="toggleChat()" [focus]="focus"></chat-input>
    </div>
  </div>
  <button class="chat-button" (click)="toggleChat()">
    <span [@fadeIn] *ngIf="visible">✕</span>
    <span [@fadeIn] *ngIf="!visible"><img src="https://fiapps.s3.ca-central-1.amazonaws.com/assets/widget-start.png"
        class="widget-start" width="45px" height="50px" /></span>
  </button>
</div>
